<html><head></head><body class='jobMailBody'><p>
<p></p>
<p><span style="font-size: 10pt; font-family: Arial">Dear {0},</span></p>
<p><span style="font-size: 10pt; font-family: Arial">Thank you for your interest in YOU Global Job Alerts. To activate your subscription please click on the link below.<br />
<br />
</span></p>
<p></p><table border='0' class='jobMailTable'><tr><td align='left'><span class="jobMailSubscriberLink">Please {1} to confirm the settings.</span></td></tr></table><p><span style="font-size: 10pt; font-family: Arial">We look forward to assisting you with your search!</span></p>
<p><span style="font-size: 10pt; font-family: Arial"><strong>The Team at YOU Global<br />
<br />
</strong></span><span style="font-size: 10pt; font-family: Arial"><strong>{2}<br />
</strong></span></p></body></html>