<html>
<head>
</head>
<body class='jobMailBody'>
    <p>
        <span style="font-size: 10pt; font-family: Arial">Dear {0},</span></p>
    <p>
        <span style="font-size: 10pt; font-family: Arial"><strong>Your YOU Global job alert
            subscription is now confirmed</strong></span><span style="font-size: 10pt; color: black;
                font-family: Arial"><span style="font-size: 10pt; font-family: Arial"><strong>.</strong>
                    We will supply you with regular alerts to keep you up-to-date with our latest jobs,
                    please find your customised selections listed below.<br />
                    <br />
                </span></span>
    </p>
    <table border='0' class='jobMailTable'>
        <tr>
            <td align='left'>
                <table>
                    <tr>
                        <td class="jobMailSettingsLabel">
                            Sector:
                        </td>
                        <td>
                            {1}
                        </td>
                    </tr>
                    <tr>
                        <td class="jobMailSettingsLabel">
                            Location:
                        </td>
                        <td>
                            {2}
                        </td>
                    </tr>
                    <tr>
                        <td class="jobMailSettingsLabel">
                            Work type:
                        </td>
                        <td>
                            {3}
                        </td>
                    </tr>
                    <tr>
                        <td class="jobMailSettingsLabel">
                            Job mail frequency:
                        </td>
                        <td class="jobMailSettingsData">
                            {4}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="jobMailSubscriberLink">
                If you wish to edit your details or unsubscribe please <a href="{5}">click here</a>.
            </td>
        </tr>
    </table>
    <p>
        <span style="font-size: 10pt; font-family: Arial">We look forward to assisting you with
            your search!</span></p>
    <p>
        <span style="font-size: 10pt; font-family: Arial"><strong>The Team at YOU Global</strong></span><span
            style="font-size: 10pt; font-family: Arial"><strong> </strong></span>
    </p>
    <p>
        <img class="" alt="" src="{6}" /></p>
</body>
</html>