<html>
<head>
</head>
<body class='jobMailBody'>
    <p>
    </p>
    <p>
        <span style="font-size: 10pt; font-family: Arial">Dear {0},</span></p>
    <p>
        <span style="font-size: 10pt; font-family: Arial">It appears that you have tried subscribing
            to YOU Global's Job Alerts whilst already having an active subscription.<br />
            <br />
        </span>
    </p>
    <p>
    </p>
    <table border='0' class='jobMailTable'>
        <tr>
            <td align='left'>
                <span class="jobMailSubscriberLink">To edit your subscription or unsubscribe, please
                    {1}.</span>
            </td>
        </tr>
    </table>
    <p>
        <span style="font-size: 10pt; font-family: Arial"><strong>The Team at YOU Global<br />
            <br />
        </strong></span><span style="font-size: 10pt; font-family: Arial"><strong>{2}<br />
        </strong></span>
    </p>
</body>
</html>