<div align="left">
    {0}</div>
<p>
    Dear {1},
    <br />
    <br />
    Thank you for your application to the position of {2}, our job reference code {3}.
    <br />
    <br />
    We are expecting a large response to the advertisement. We shall be looking at the
    details you have provided, and if your profile is a close match with the profile
    specified by our client, we shall be in touch. Otherwise, unless you have any objection,
    we shall retain your details and be in touch as other roles arise which fit your
    profile.</p>
<p>
    To enable us to keep you informed of other positions, please consider the following:</p>
<p>
    Subscribing to our free Job Alert facility via <a href="http://www.you-global.com/">
        YOU Global's website</a><br />
    Joining us at our main <a href="http://www.facebook.com/youglobal">Facebook Page</a>
    or related Facebook pages<br />
    Following us on <a href="http://www.twitter.com/youglobal">Twitter</a><br />
    Joining our LinkedIn Group <a href="http://www.linkedin.com/groups/YOU-Global-jobs-worldwide-all-3726149">
        YOU Global Jobs Worldwide</a>, subgroups or <a href="http://www.linkedin.com/company/844555">
            LinkedIn company page.</a></p>
<p>
    Yours sincerely</p>
<p>
    YOU Global<br />
    <a href="http://www.you-global.com/">www.you-global.com</a></p>