@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="container-fluid">
        <!--  secondary-nav start -->
        <div class="container nav-tabs-main">
            <div class="col-md-12 row innerpages" id="about-us">
                <div class="left_articles"  style="text-align:center">
                    <h3 style="text-align:center">
                        Thank you, your application has been received.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>