@helper GetTreeView(List<Sample.Web.ModalLogin.Classes.Tier> siteMenu, int parentID)
{
foreach (var i in siteMenu.Where(a => a.ParentMenuID.Equals(parentID)))
{
        <li style="width: 500px;">
            @{var submenu = siteMenu.Where(a => a.ParentMenuID.Equals(i.TierId)).Count();}
            @if (submenu > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="@i.NavURL">@i.MenuName</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @GetTreeView(siteMenu, i.TierId)
                </ul>
            }
        </li>
                }
}
