<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sample.Web.ModalLogin-20150510125751.mdf;Initial Catalog=aspnet-Sample.Web.ModalLogin-20150510125751;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="globalpanda" connectionString="server=localhost;user id=root;password=password;database=globalpanda;Allow User Variables=True;Pooling=False;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="globalpanda" connectionString="Database=as_a94f5e41fcd6e79;Data Source=us-cdbr-azure-west-c.cloudapp.net;User Id=bf60e0d6b3d9af;Password=675f369a;Allow User Variables=True;Pooling=False;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SecurityKey" value="13.76.229.104" />
    <!--<add key="SecurityKey" value="Sample.Web.ModalLogin" />-->
    <!--<add key="ReCaptchaPrivateKey" value="6Le55gsTAAAAAC1e5EtYFXkkmW5uJH30aJcRysFI" />
    <add key="ReCaptchaPublicKey" value="6Le55gsTAAAAAECMHA20yc54KQK2jvlqTprM3xjy" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ckeditor:BasePath" value="/globalpanda/ckeditor/" />
    <add key="ShowJobAlerts" value="true" />
    <add key="MinutesToCheckForUpdatesAfter" value="60" />
    <add key="NumberOfHotJobsToDisplayInModule" value="6" />
    <add key="emailAddress" value="webmaster@you-global.com" />
    <add key="emailName" value="You Global Webmaster" />
    <add key="bcc.emailAddresses" value="" />
    <add key="bcc.emailNames" value="" />
    <add key="smtpHost_old" value="223.27.29.61" />
    <add key="smtpHost" value="111.67.20.148" />
    <add key="smtpUserName" value="jobs@you-global.com" />
    <add key="smtpPassword" value="N8fQtwFa" />
    <add key="contactus.emailAddress" value="admin@you-global.com" />
    <add key="contactus.emailName" value="You Global Admin" />
    <add key="contactus.subject" value="You Global Contact Us Submisson" />
    <add key="uploadcv.emailAddress" value="jobs@you-global.com" />
    <add key="uploadcv.emailName" value="You Global Jobs" />
    <add key="uploadcv.subject" value="You Global Resume Submisson" />
    <add key="uploadresume.emailAddress" value="jobs@you-global.com" />
    <add key="uploadresume.emailName" value="You Global Jobs" />
    <add key="uploadresume.subject" value="You Global Resume Submisson" />
    <add key="default.emailAddress" value="admin@you-global.com" />
    <!--<add key="default.emailName" value="You Global" />
    <add key="default.subject" value="You Global Website Form Submisson" />-->
    <add key="jobEmail" value="jobs@you-global.com" />
    <add key="joEmailFrom" value="jobs@you-global.com" />
    <add key="subscribeConfirm" value="http://www.you-global.com/template/subscribe.aspx" />
    <add key="unsubscribeConfirm" value="http://www.you-global.com/template/unsubscribe.aspx" />
    <add key="logoURL" value="http://www.you-global.com/Content/images/Sample.Web.ModalLogin1.jpg" />
    <add key="baseURL" value="http://www.you-global.com/" />
    <add key="FileUpload" value="https://www.you-global.com/globalpanda/Files/FileUpload.ashx" />
    <add key="ConsultantImage" value="https://www.you-global.com/globalpanda/Files/ConsultantImage.ashx?filename=" />
    <add key="locationAdmin" value="gp@you-global.com" />
    <add key="jobEmailAdmin" value="admin@you-global.com" />
    <add key="feedback" value="admin@you-global.com" />
    <add key="LogPath" value="E:\logs\jobapply\apply" />
    <add key="webrqsttimeout" value="800000" />
    <add key="recaptchaPublicKey" value="6Le55gsTAAAAAECMHA20yc54KQK2jvlqTprM3xjy" />
    <add key="recaptchaPrivateKey" value="6Le55gsTAAAAAC1e5EtYFXkkmW5uJH30aJcRysFI" />
    <add key="recaptchaApiVersion" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>