@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container">
    <div class="container-fluid">
        <div class="container nav-tabs-main">
            <div class="col-xs-12 innerpages" id="about-us">
                <h2>Who we are</h2>

                <p>YOU Global is a global company of recruitment specialists, covering all sectors across the globe. Our innovative and dynamic approach helps both companies and individuals navigate the complex and rapidly changing recruitment landscape.</p>
                <p>We believe that in order to provide a professional and committed service to our clients, it is essential to remain focused on our objective of striving to be the best in our business.</p>
                <p>In order to achieve this we employ only talented individuals who possess an in-depth knowledge of your industry.</p>
                <p>Whether you are someone looking for a new and challenging career opportunity, or an organisation requiring tailor-made human resource solutions, you can rely on YOU Global.</p>
                <p>Keep an eye on our website, as we have many new and exciting projects in the wings, which over time will bring innovative services to our website visitors.</p>
            </div>
        </div>
    </div>
</section>