@{
    ViewBag.Title = "JobAlertSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="container-fluid">
        <!--  secondary-nav start -->
        <div class="container nav-tabs-main">
            <div class="col-md-12 row innerpages" id="about-us">
                <div class="left_articles" style="text-align:center">
                    <div class="subheader">
                        <h2>
                            Thank You!
                        </h2>
                    </div>
                    <div class="left_articles_noBorder">
                        <p>
                            Thank you for your interest in Job Alerts.
                        </p>
                        <p>
                            An email to activate your subscription has been sent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>