
@{
    ViewBag.Title = "JobAlertExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="container-fluid">
        <!--  secondary-nav start -->
        <div class="container nav-tabs-main">
            <div class="col-md-12 row innerpages" id="about-us">
                <div class="left_articles" style="text-align:center">
                    <div class="subheader">
                        <h2>
                            Thank You!
                        </h2>
                    </div>
                    <div class="left_articles_noBorder">
                        <p>
                            You already have a Job Alerts subscription under the email address you have used.
                        </p>
                        <p>
                            An email has been sent to you containing a link enabling you to edit your existing
                            subscription details.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

